:root {
    --purple: rgb(232, 103, 237);
}

body {
    background-color: rgb(51, 57, 64);
}

header {
    margin: 0 auto;
}

main {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 75%;
    margin: 0 auto;
}

section {
    display: inline;
    border-style: dashed;
    border-width: 3px;
    border-color: white;
    margin: 30px;
    padding: 20px;
    justify-content: space-around;
}

h1,
h2 {
    color: var(--purple);
}

header p {
    color: var(--purple);
}

p {
    color: white;
}